$bg-color: #333;
$font-color: #666;
$primary-color: #00e8d6;
$dark-overlay: rgba(0, 0, 0, 0.7);
$icon-size: 30px;

body{
  background: $bg-color;
  color: $font-color;
}

.navbar{
  border-bottom: $primary-color 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url('../../../public/images/home.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 700px;
  }

  .home-inner {
    padding-top: 150px;
  }

  .card-form {
    opacity: 0.8;
  }

  .fa {
    color:$primary-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#explore-section, #share-section {
  .fa {
    color:#fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#create-section {
  .fa {
    color:$primary-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#people-table {
  background-color: #fff;
}

#people-table th {
  background-color: #b23850;
  color: #000;
}

.scrollx {
  overflow-x: scroll;
}

.scrolly {
  overflow-y: scroll;
}

.scroll {
  overflow: scroll;
}

.pagination {
   justify-content: center;
}

#loginModal .modal-dialog, #cellModal .modal-dialog {
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}

.hidden {
  display: none;  
}

.visible {
  display: block;
}

#suspension {
  background-color: gold;
  padding: 20px;
  margin: 10px 0px;
}

#reinstated {
  background-color: green;
  padding: 10px;
  margin: 10px 0px;
}

#dead {
  background-color: red;
  padding: 20px;
  margin: 10px 0px;
}